<h1>All articles</h1>
<hr class="my-2">
<% if @articles.each do |article| %>
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= article.title %></h4>
            <img src="<%= article.url %>"  width="400"/>
            <p class="card-text"><%= truncate(article.text, length: 200) %></p>
            <%= link_to(article_path(article), :class => 'button-href') do %>
                <button class="sho btn btn-success">READ MORE</button> 
            <% end %>
        </div>
    </div>
</div>
<% end.empty? %>
    <small class="text-muted">No articles</small>
<% end %>
