<div class="container-home">
    <h1>Forknite</h1>
</div>

<div class="div-container">
    <p>
        Fortnite Battle Royale est le mode JcJ à 100 joueurs de Fortnite, jouable totalement gratuitement. Une carte géante. Un bus de combat. Tout le système de construction de Fortnite, combiné à des batailles ultraintenses en JcJ. Le dernier survivant est le vainqueur. Disponible sur PC, PlayStation 4, Xbox One et Mac.
    </p>
    <p class="link-to-article"><%= link_to 'Voir les articles', articles_path %></p>
</div>