<% if flash[:notice] %>
    <div class="alert alert-success">        
        <%= notice %>
    </div>
<% end %>

<p>
Session : <%= @session.inspect %>
</p>

<h1>Nous contacter</h1>
<br />
<%= render 'form', contact: @contact %>